<!-- main.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Eliminar Usuario</h1>
    <form action="/eliminar" method="post"> 
        <label for="cedula">Cédula:</label>
        <input type="text" id="ceduladelete" name="cedula">
        <br>
        <button type="submit">Eliminar</button>
    </form>
</body>
</html>
